#contact-section {
    @extend #about-section;
    #input-btn {
        @include button-style;
    }
    .contact-container {
        padding: 50px 0;
    }
    .controls {
        padding: 0 0 50px 0;
        .form-group {
            width: 75vw;
        }
    }
    label {
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-weight: 200;
    }
    #contact-form {
        i {
            padding-right: 10px;
        }
    }
}